<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All suite files">
    <listeners>
        <listener class-name="settings.TestNGListener" />
    </listeners>
    <suite-files>
        <suite-file path="src/main/resources/screening/screening-smoke.xml"/>
        <suite-file path="src/main/resources/screening/screening-regression.xml"/>
        <suite-file path="src/main/resources/password.tools/password.tools-smoke.xml"/>
        <suite-file path="src/main/resources/communication.tools/communication.tools-smoke.xml"/>
        <suite-file path="src/main/resources/communication.tools/communication.tools-regression.xml"/>
    </suite-files>
</suite>
